checklist_edo.aux
checklist_edo.fdb_latexmk
checklist_edo.fls  
checklist_edo.idx  
checklist_edo.lof
checklist_edo.ilg  
checklist_edo.log
checklist_edo.ind  
checklist_edo.out
checklist_edo.synctex.gz
checklist_edo.toc  
pdflatex8811.fls

